flask==2.3.3
gunicorn==21.2.0
pillow>=10.0.0
numpy>=1.26.0
opencv-python-headless>=4.8.1
deepface>=0.0.79
flask-cors==4.0.0
cloudinary==1.36.0
requests==2.31.0
python-dotenv==1.0.0
tf-keras
tensorflow==2.17.0